<h1 align="center">Horas hombre cargadas</h1>

  <div align="center">
    <%= will_paginate %>
  </div>
  
  <%= render 'article', obj: @articles %>

  <div align="center">
    <%= will_paginate %>
  </div>