<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="http://www.grupo123.com/es/">GRUPO123</a>
      by <a href="https://www.linkedin.com/in/leomonsalv/">Leonardo Monsalve</a>
    </small>
  </footer>
</div>