<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="#">ALPHA BLOG</a>
      by <a href="instagram.com/leomonsalv">Leonardo Monsalve</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>